
const appd = require("appdynamics");

console.log("Appdynamics is now loaded !")

appd.profile({
  accountName: "{{ controller_account_name }}",
  accountAccessKey: "{{ controller_account_access_key }}",
  controllerHostName: "{{ controller_host_name }}",
  controllerPort: {{ controller_port }},
  controllerSslEnabled: {{ enable_ssl | lower }},
  applicationName: "{{ application_name if application_name is defined else appd.ansible_facts.appdynamics.app }}",
  tierName: "{{ tier_name if tier_name is defined else appd.ansible_facts.appdynamics.tier }}",
  nodeName: "{{ agent_node_name if ( no_node_name_suffix | lower ) == 'true' else agent_node_name_replaced }}",
  enableGraphQL: {{ node_agent_enableGraphQL | lower }},
  noNodeNameSuffix: {{ no_node_name_suffix | lower }},
  debug: {{ node_agent_debug_logging | lower }},
});
