# To install Cluster Agent 
installClusterAgent: true
installInfraViz: true


infraViz:
  nodeOS: "linux"
  enableMasters: true
  stdoutLogging: false
  enableContainerHostId: true
  enableServerViz: true
  enableDockerViz: false


netViz: 
  enabled: true 
  netVizPort: 3892

# AppDynamics controller info
controllerInfo:
  url: "{{ controller_url }}"
  account: "{{ controller_account }}"
  accessKey: "{{ controller_access_key }}"

# Cluster agent config
clusterAgent:
  appName: "{{ app_name }}"
  nsToMonitorRegex: "{{ namespace_to_instrument }}"
  logProperties:
    logLevel: INFO
    stdoutLogging: true

instrumentationConfig:
  enabled: true
  enableForceReInstrumentation: true
  instrumentationMethod: Env
  nsToInstrumentRegex: "{{ namespace_to_instrument }}"
  defaultAppName: "{{ app_name }}"
  tierNameStrategy: manual
  imageInfo:
    java:
      image: "docker.io/appdynamics/java-agent:latest"
      agentMountPath: /opt/appdynamics
      imagePullPolicy: Always
  instrumentationRules:
    - namespaceRegex: "{{ namespace_to_instrument }}"
      language: java
      matchString: ".*"
      imageInfo:
        image: "docker.io/appdynamics/java-agent:latest"
        agentMountPath: /opt/appdynamics
        imagePullPolicy: Always
