ControllerURL     = {{ controller_host_name }}
ControllerPort    = {{ controller_port }}
FMServicePort     = {{ fm_service_port }}
AgentType         = {{ agent_type }}
AccountAccessKey  = {{ controller_account_access_key }}
AccountName       = {{ controller_account_name }}
EnableSSL         = {{ enable_ssl }}

[CommonConfig]
ServiceName           = {{ serviceName }}
ServiceNamespace      = {{ serviceNamespace }}
RequestTimeoutSeconds = {{ requestTimeoutSeconds }}
AgentName             = {{ agentName }}
PollingIntervalInSec  = {{ pollingIntervalInSec }}
Tags                  = {{ tags }}

[TaskConfig]
NativeEnable = {{ nativeEnable }}

[OAuth]
OAuthID      = {{ oAuthId }}
OAuthSecret  = {{ oAuthSecret }}
AuthEndpoint = {{ authEndpoint }}
TenantID     = {{ tenantID }}
Scopes       = {{ scopes }}

[HTTPClientSettings]
Timeout = {{ timeout_smartagent }}

[TLSClientSetting]
Insecure = {{ insecure }}
AgentHTTPProxy  = {{ agentHTTPProxy }}
AgentHTTPSProxy = {{ agentHTTPSProxy }}
AgentNoProxy    = {{ agentNoProxy }}

[TLSSetting]
CAFile   = {{ caFile }}
CertFile =  {{ certFile }}
KeyFile  = {{ keyFile }}
MinVersion = {{ min_tls_version }}
MaxVersion = {{ max_tls_version }}

[AutoDiscovery]
RunAutoDiscovery = {{ runAutoDiscovery }}
ExcludeLabels = {{ excludeLabels }}
ExcludeProcesses = {{ excludeProcesses }}
ExcludeUsers = {{ excludeUsers }}
AutoDiscoveryTimeInterval = {{ autoDiscoveryTimeInterval }}

[AnsibleConfig]
ExtraVars = {{ extraVars }}
EnvVars = {{ envVars }}

[Telemetry]
LogLevel = {{ logLevel }}
LogFile = {{ logFile }}
Profiling = {{ profiling }}
