LoadFile {{apache_agent_dest_folder}}/appdynamics-sdk-native/sdk_lib/lib/{{ zmq_version_file_name }}
{% if not libuuid_remove_required %}
LoadFile {{apache_agent_dest_folder}}/appdynamics-sdk-native/sdk_lib/lib/libuuid.so.1
{% endif %}
LoadFile {{apache_agent_dest_folder}}/appdynamics-sdk-native/sdk_lib/lib/libappdynamics_native_sdk.so

LoadModule appdynamics_module {{apache_agent_dest_folder}}/appdynamics-sdk-native/WebServerAgent/Apache/{{ agent_binary }}

AppDynamicsEnabled {{ appdynamics_enabled }}
AppDynamicsControllerHost {{ controller_host_name }}
AppDynamicsControllerPort {{ controller_port }}
AppDynamicsControllerSSL {{ controller_protocol }}
AppDynamicsAccountName {{ account_name }}
AppDynamicsAccessKey {{ account_access_key }}
AppDynamicsApplication {{ application_name if application_name is defined else appd.ansible_facts.appdynamics.app }}
AppDynamicsTier {{ tier_name if tier_name is defined else appd.ansible_facts.appdynamics.tier }}
AppDynamicsNode {{ node_name if node_name is defined else appd.ansible_facts.appdynamics.node }}

{% if appdynamics_proxy_host != "" and appdynamics_proxy_port != "" %}
AppDynamicsProxyHost {{ appdynamics_proxy_host }}
AppDynamicsProxyport {{ appdynamics_proxy_port }}
{% else %}
#AppDynamicsProxyHost {{ appdynamics_proxy_host }}
#AppDynamicsProxyport {{ appdynamics_proxy_port }}
{% endif %}

AppDynamicsLaunchProxy {{ appdynamics_launch_proxy }}
AppDynamicsBackendNameSegments {{ appdynamics_backend_name_segments }}
AppDynamicsResolveBackends {{ appdynamics_resolve_backends }}
AppDynamicsTraceAsError {{ appdynamics_trace_as_error }}
AppDynamicsReportAllInstrumentedModules {{ appdynamics_report_all_instrumented_modules }}
AppDynamicsProxyCommDir {{ appdynamics_proxy_comm_dir }}
AppDynamicsRequestCacheCleanupInterval {{ appdynamics_request_cache_cleanup_interval }}

#Sensitive Data Filter
AppDynamicsMaskCookie {{ appdynamics_mask_cookie}}
{% if appdynamics_mask_cookie_pattern != "" %}
AppDynamicsCookieMatchPattern {{ appdynamics_mask_cookie_pattern }}
{% else %}
#AppDynamicsCookieMatchPattern
{% endif %}
AppDynamicsMaskSmUser {{ appdynamics_mask_sm_user }}
{% if appdynamics_delimiter != "" %}
AppDynamicsDelimiter {{ appdynamics_delimiter }}
{% else %}
#AppDynamicsDelimiter
{% endif %}
{% if appdynamics_segment != "" %}
AppDynamicsSegment {{ appdynamics_segment }}
{% else %}
#AppDynamicsSegment
{% endif %}
{% if appdynamics_match_filter != "" %}
AppDynamicsMatchfilter {{ appdynamics_match_filter }}
{% else %}
#AppDynamicsMatchfilter
{% endif %}
{% if appdynamics_match_pattern != "" %}
AppDynamicsMatchpattern {{ appdynamics_match_pattern }}
{% else %}
#AppDynamicsMatchpattern
{% endif %}